#cel1{background-color: #0033ff;}
#cel2{background-color: #cc33ff;}
#cel3{background-color: #66ff33;}
#cel4{background-color: #6633cc;}
#cel5{background-color: #666699;}
#cel6{background-color: #cc0066;}
#cel7{background-color: #999966;}
#cel8{background-color: #ffff00;}
#cel9{background-color: #9933cc;}
#cel10{background-color: #6699ff;}
#cel11{background-color: #cc6600;}
#cel12{background-color: #993300;}
#cel13{background-color: #ccccff;}
#cel14{background-color: #663300;}
#cel15{background-color: #000000;}
#cel16{background-color: #ffffff;}